<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>id</th>
                    <th>vehicleNameplate</th>
                    <th>vehicleType</th>
                    <th>Vehicle Entry Timing</th>
                    <th>Vehicle Exit Timing</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vehicle:${allVehicle}">
                    <td th:text="${vehicle.vehicleId}">id</td>
                    <td th:text="${vehicle.Vehicle_Number_Plate}">vehicleNameplate</td>
                    <td th:text="${vehicle.Vehicle_Type}">vehicleType</td>
                    <td th:text="${vehicle.Entry_Time}">Vehicle Entry Timing</td>
                    <td th:text="${vehicle.Exit_Time}">Vehicle Exit Timing</td>
                    <td> <a href="#" th:href="@{/api/tickets/get/deleteData/__${vehicle.vehicleId}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/api/tickets/get/getType/car}"><i class='fas fa-car-side' style='font-size:24px'>
            </i></a>
        <a href="#" th:href="@{/api/tickets/get/getType/bike}"><i class='fas fa-bicycle' style='font-size:24px'>
            </i></a>
        <a href="#" th:href="@{/api/tickets/get/createparking}">All</a>
        <a href="#" th:href="@{/api/tickets/set/createuser}">Create User</a>
        <br>
        <a href="#" th:href="@{/logout}" class="">Log Out</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>